
<footer>
    <div class="footer">
        <div class="thong-tin-footer">
                <p class="sdt-footer">Thông tin liên hệ: 0865798JQK</p>
                <p class="gmail-footer">Gmail: nguyencongloc987@gmail.com</p>
                <p class="dia-chi-footer">Khoa khoa học và CNGD</p>
                <p class="dai-hoc-footer">Đại học Bách Khoa Hà Nội</p>
        </div>
    </div>
</footer>